.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #2A2D36;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.footer__copyright {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 500px) {
        font-size: 14px;
    }
}   

.footer__nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__nav-item {
    margin-right: 20px;

    a {
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;

        @media (max-width: 500px) {
            font-size: 14px;
        }
    }

    &:hover {
        text-decoration: underline;
    }
}