.order-mid {
    position: relative;
    padding-top: 144px;
    background-image: url('../img/order-mid/order-mid-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;

    @media (max-width: 560px) {
        padding-top: 0;
    }

    &::before {
        content: url('../img/base-img/leaf6.png');
        position: absolute;
        left: 0;
        top: -90px;
        z-index: -1;

        @media (max-width: 1000px) {
            top: -30px;
        }

        @media (max-width: 560px) {
            content: url('../img/base-img/leaf12.png');
            top: -30px;
        }
    }

    &::after {
        content: url('../img/base-img/leaf7.png');
        position: absolute;
        right: 0;
        top: 15px;
        z-index: -11;

        @media (max-width: 560px) {
            content: url('../img/base-img/leaf13.png');
            top: -140px;
        }
    }
}   

.order-mid__content {
    position: relative;

    &::before {
        content: url('../img/base-img/leaf1.png');
        position: absolute;
        top: -210px;
        right: 0;
        transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);

        @media (max-width: 1240px) {
            content: none;
        }
    }
}

.order-mid__img {
    display: flex;
    justify-content: center;

}

.order-mid__img1 {
    position: relative;
    bottom: -50px;
    left: -55px;

    @media (max-width: 680px) {
        width: 425px;
        bottom: -35px;
        left: -20px;
    }

    @media (max-width: 470px) {
        display: none;
    }
}

.order-mid__img2 {
    display: none;

    @media (max-width: 470px) {
        z-index: 4;
        position: relative;
        display: block;
        top: 80px;
        left: 40px;
    }
}

.form__mid-wrap {
    position: relative;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(138, 194, 235, 0.07);
    border-radius: 12px;
    z-index: 3;

    @media (max-width: 940px) {
        width: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        height: 136px;
        left: 20px;
        right: 20px;
        bottom: -15px;
        background: #FFFFFF;
        box-shadow: 0px 24px 80px rgba(138, 194, 235, 0.1);
        border-radius: 12px;
        z-index: 1;

        @media (max-width:576px) {
            content: none;
        }
    }

    &::after {
        content: url('../img/base-img/leaf9.png');
        position: absolute;
        top: 15px;
        right: -160px;
        z-index: -1;
        transform: matrix(-1, 0, 0, 1, 0, 0);

        @media (max-width:1240px) {
            content: none;
        }
    }
}

.form__mid {
    position: relative;
    padding: 30px 40px;
    width: 880px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(138, 194, 235, 0.07);
    border-radius: 12px;
    z-index: 2;

    @media (max-width: 940px) {
        width: 100%;
    }

    @media (max-width: 576px) {
        padding-left: 0;
        padding-right: 0;
    }

    @media (max-width: 500px) {
        background: none;
        box-shadow: none;
    }

    &::before {
        content: url('../img/base-img/leaf5.png');
        position: absolute;
        right: 57px;
        top: -127px;    
        z-index: 2;

        @media (max-width: 470px) {
            content: url('../img/base-img/leaf14.png');
            right: auto;
            left: 0;
            top: -57px;
        }
    }

    &::after {
        @media (max-width: 1240px) {
            content: url('../img/base-img/leaf11.png');
            position: absolute;
            top: 97px;
            right: -1px;
            z-index: -1;
        }

        @media (max-width: 890px) {
            top: 165px;
        }

        @media (max-width: 676px) {
            top: 200px;
        }

        @media (max-width: 576px) {
            top: 291px;
            right: 11px;
        }

        @media (max-width: 460px) {
            top: 315px;
            right: 3px;
        }

        @media (max-width: 320px) {
            right: -9px;
        }
    }
}

.form__mid-title {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;
    color: #2A2D36; 
    text-align: center;

    @media (max-width: 576px) {
        font-size: 18px;
        margin-bottom: 20px;
    }

    span {
        font-weight: 600;
        color: #C84E89;
    }
}   

.form__mid-input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 890px) {
        flex-wrap: wrap;
    }

    .form__country {
        @media (max-width: 890px) {
            width: 45%;
            margin-bottom: 10px;
        }

        @media (max-width: 576px) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    input {
        @media (max-width: 890px) {
            width: 45%;
            margin-bottom: 10px;
        }

        @media (max-width: 576px) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .btn--colored {
        @media (max-width: 576px) {
            width: 80%;
        }
    }
}